/*------------------------------------*\
  6.COMPONENTS
  Designed components, chunks of UI
  For example: specific UI components.
  Most of the code. Wrapping and
  constraining elements.
\*------------------------------------*/

/*------------------------------------*\
  Body sections
\*------------------------------------*/

.main-body-container {
  display: flex;
  height: auto;
}
@media (max-width: $tabletMaxWidth) {
  .main-body-container {
    flex-direction: column;
  }
}

/* Control the left side */
.left {
  background-color: $main-green;
  width: 30%;
  color: $main-white;
}
@media (max-width: $tabletMaxWidth) {
  .left {
    width: 100%;
  }
}

/* Control the right side */
.right {
  background-color: $main-white;
  width: 70%;
}
@media (max-width: $tabletMaxWidth) {
  .right {
    width: 100%;
  }
}

.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: $main-top-margin-variable;
}

.centered img {
  width: 160px;
  border-radius: 50%;
}

.align-inner-right {
  margin-right: 5em;
  margin-left: 2em;
  text-align: left;
}
@media (max-width: $phoneMaxWidth) {
  .align-inner-right {
    margin-right: 1em;
    margin-left: 1em;
  }
}

.align-inner-left {
  margin-top: 3em;
  margin-left: 6em;
  text-align: left;
}

@media (max-width: $smallScreenMaxWidth) {
  .align-inner-left {
    margin-left: 2em;
  }
}

@media (max-width: $tabletMaxWidth) {
  .align-inner-left {
    text-align: center;
    margin-left: 0;
  }
}

.programming-list {
  font-weight: 400;
  font-size: 1.2em;
}

.profile-a-link {
  color: black;
}

.font-awesome-flex {
  display: flex;
}
@media (max-width: $tabletMaxWidth) {
  .font-awesome-flex {
    align-items: center;
    justify-content: center;
  }
}

.font-awesome-adjust {
  padding-top: 0.5em;
  margin-left: 0.3em;
}

@media (max-width: $tabletMaxWidth) {
  .font-awesome-adjust {
    padding-top: 0.05em;
    margin-left: 0.3em;
  }
}

.closing-spacer {
  margin-bottom: 6em;
}
/*
The Components layer is where we begin to style
recognisable pieces of UI. We're still binding
onto classes here, so our specificity hasn't yet
increased. However, this layer is more explicit
than the last one in that we are now styling explicit,
designed pieces of the DOM.

We shouldn't find any selectors with a
lower specificity than one class in this layer.
This is where the majority of your work will happen
after initial project set-up. Adding new components and
features usually makes up the vast majority of development.
*/
