/*------------------------------------*\
  6.COMPONENTS
  MOST OF THE CODE GOES HERE.

  Content

  1. Homepage
  2. Actors-characters Page


\*------------------------------------*/

/*------------------------------------*\
  1. Homepage
\*------------------------------------*/

.homepage-main-wrapper {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 5em 7em 18em 5em 7em 7em 25em;
  grid-template-rows: 2em 3em 0.5em 4em 14em 4em 3em 2em 5em;
  grid-template-areas:
    ". a a . . . ."
    ". . . . . . ."
    ". b . . . . ."
    ". . . . c . ."
    ". . . . . . ."
    ". . . d d d d"
    ". . . . . . ."
    ". . . . . . ."
    ". e f f f f .";
}

.presentation-message {
  grid-area: a;
  letter-spacing: 0.6em;
}

.homepage-image-grid {
  grid-area: b;
}

.homepage-summary-grid {
  grid-area: c;
}

.homepage-main-title {
  grid-area: d;
}

.theater-logo-grid {
  grid-area: e;
}
.starring-written-grid {
  grid-area: f;
  padding-left: 50px;
  padding-top: 25px;
}

.starring-written-grid h6 {
  padding: 2px 0;
  margin: 0;
}

/*flex column for small screens*/
@media only screen and (max-width: $tabletMaxWidth) {
  .homepage-main-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

/* circular image */
/*https://www.webfx.com/blog/web-design/circular-images-css/*/

.homepage-main-image-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

.homepage-main-image {
  width: 100%;
  height: auto;
  margin-top: -80px;
}

.theater-logo {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

.fa-theater-masks {
  color: white;
}

footer {
  color: white;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/*------------------------------------*\
  2. Actors-Characters Page
\*------------------------------------*/
